body {
	    background-color: #7c7e84;
	    color:#FFF;
        margin:0;
    }

    a {
	    text-decoration: none;
    }



    img {
         width:100%;
    }


    #warp {
	    width: 98%;
	    margin: auto;
    }
    
    
    #xy{
        background-color: #FFFFFF;
        padding:20px 10px;
        color:#000000;
    }
    
    #footer{
        background-color:#2d3d51;
        margin: 10px 10px;
        padding: 10px 10px;
    }
    
    code {
	    background-color: #d9b117;
	    font-size: 85%;
	    padding: .2em;
	    color: #FFF;
    }
    
    i {
        background-color: #000;
	    font-size: 85%;
	    padding: .2em;
	    color: #d9b117;
    }

    #xy ul li {
        display:inline-block;
        list-style:none;
    }